# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven output
target/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.temp

test-output/
allure-results/
allure-report/
target/

# Java compiled files (rarely needed in Maven projects)
*.class